<section class="hero">
  <div class="hero-body">
    <div class="container">
      <h1 class="title">
        Welcome to Trafical
      </h1>
      <h2 class="subtitle">
        Track your calories here!
      </h2>
      <div class="columns">
        <div class="column is-four-fifths">
          <% if user_signed_in? %>
            Let's create some good news! </br>
            <%= link_to "Tell Trafical what have you done so far!", new_calorie_path, class: "button is-light"  %>
          <% else %>
            We are glad to have you here, this is a great oportunity to change your life. </br>
            If you are not registered, please click the link below: </br>
            </br>
            <%= link_to raw("<strong>Make a new account with us</strong>"), new_user_registration_path, class: "button is-primary"  %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</section>
