<% provide(:title, 'All calories') %>
<%# provide(:date, Time.now.to_s(:long)) %>
<h1>All calories</h1>

<%= content_tag :div, "", id: "calories_chart", data: {calories: calories_chart_data} %>
<div id="myfirstchart" style="height: 250px;"></div>
<%#= yield(:date) %>

<ol class="calories">
  <%= render @calories %>
</ol>
<%= paginate @calories %>
<%= page_entries_info @calories %>