<footer class="footer">
  <div class="content has-text-centered">
    <p>
      <strong>Trafical</strong> as a result of a problem in <a href="https://www.hogaru.com/">Bootcamp - Hogaru</a>.
    </p>
  </div>
</footer>